<h3>Users</h3>
<table>  
  <% @users.each do |user| %>
    <tr>
      <td>	
        <%= link_to user.name, user %> signed up <%= user.created_at.to_date %>
      </td>
      <td>
        <%= link_to "Edit", {:controller => "admin/users", :action => "edit", :id => user.id} %>  
      </td>	
    </tr>  
  <% end %>
</table>


<%= render :partial => "roles" %>
<h2><%= link_to "Manage Roles", {:controller => "admin/roles", :action => "index"} %></h2>